body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
  }
  a {
    text-decoration: none;
  }
  
  .main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 400;
  
    background-color:  #ffffff;
    text-align: center;
 }
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color:#000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color:#ffffff;
}

.advantages-heading {
  text-align: center;
  font-weight: 400;




}

.advantages-heading {
  font-size: 21px;
  line-height: 26px;
}
.advantages-description {
  text-align: center;
}

.advantages-description {
  font-size: 14px;
  line-height: 26px;
}
.button {
  font: inherit;

  text-align: center;
  color: #a9a9a9;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}
.search-hotels-heading {
  text-align: center;
}
.search-hotels-description {
  text-align: center;
}

.main-footer {
  color:#000000;

  background-color: #f9fbf6;
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.footer-social {
 color:#81b3d2;
 text-align: center;
}