html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f1f1f1;
    background-position: top center;
    background-repeat: no-repeat;
    background: #2a3e45; /* для демо */
}
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}
.main-header {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}  
.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-right: 72px;
  padding-left: 72px;
  list-style: none;
}
.site-navigation-item {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 240px;
  padding: 15px 0;
  width: 240px;
}

.site-navigation-item:nth-child(4n+3),
.site-navigation-item:nth-child(4n+4) {
  justify-content: flex-end;
}

.site-navigation-item:nth-child(4n+2) {
  margin-right: 95px;
}
.site-navigation-item:hover,
.site-navigation-item:focus {
  color: #92bdd8;
}
.site-navigation-item:active {
  color: #b2b2b2;
}  

  
  
  a {
    text-decoration: none;
  }
  
  .main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
  
    background-color:  #ffffff;
    text-align: center;
 }
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color:#000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color:#ffffff;
}

.advantages-heading {
  text-align: center;
  font-weight: 700;




}

.advantages-heading {
  font-size: 21px;
  line-height: 26px;
}
.advantages-description {
  text-align: center;
}

.advantages-description {
  font-size: 14px;
  line-height: 26px;
}
.button {
  font: inherit;
  text-align: center;
  color: #a9a9a9;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.button:hover {
  background-color: #81b3d2;
  color: #ffffff;
}
.button:focus {
  background-color: #669ec0;
  color: #ffffff;
}
.button:active {
  background-color: #5496bd;
  color: #84b4d0;
}
.search-hotels-heading {
  text-align: center;
}
.search-hotels-description {
  text-align: center;
}

.main-footer {
  color:#000000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
}
.main-footer-hashtag {
  color:#000000;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}
.footer-social {
 color:#81b3d2;
 text-align: center;
 list-style: none;
}
.footer-copyright {
  text-align: right;
  color:#231f20;
  background-color: #ffffff;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #98c1da;
}
.footer-copyright .button:active {
  color: #cdcbcc;
}
.catalog-list {
  list-style: none;
  background-color: #ffffff;
}
.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  color: #000000;
  font: size 21px;
  line-height: 26px;
}
.hotel-button-information {
  background-color: #81b3d2;
  color:#ffffff;
}
.hotel-button-information:hover {
  background-color: #669ec0;
}
.hotel-button-information:active {
  background-color: #5496bd;
  color: #88b6d1
}
.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-social {
  text-decoration: none;
}
.search-hotels-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-hotels {
  width: 578px;
}
.search-hotels-heading {
  width: 438px;
}
.advantages-heading {
  width: 455px;
}

catalog-item {
  width: 1056px;
}
.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}
.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* Декор 7 урок */

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site-navigation a,
.user-navigation a {
  display: block;
  width: 240px;

  

}

 